@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.cardList {
  background-color: #fbfbfb;
  min-height: calc(100vh - 10rem);
}

.cardList .container {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 872px) {
  .cardList .container {
    width: 95%;
  }
}

.cardList .container .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem 2rem;
}

@media (max-width: 1324px) {
  .cardList .container .list {
    grid-gap: 1.5rem 1rem;
  }
}

@media (max-width: 1290px) {
  .cardList .container .list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem 2rem;
  }
}

@media (max-width: 872px) {
  .cardList .container .list {
    grid-gap: 1.5rem 1rem;
  }
}

@media (max-width: 810px) {
  .cardList .container .list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }
}

.cardList .container .list .link {
  text-decoration: none;
}
