@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.card {
  width: 23.5rem;
}

@media (max-width: 395px) {
  .card {
    width: 20rem;
  }
}

@media (max-width: 337px) {
  .card {
    width: 18.5rem;
  }
}

.card .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(131, 126, 126, 0.1);
          box-shadow: 0 0.25rem 0.5rem rgba(131, 126, 126, 0.1);
  border-radius: 0.25rem;
  padding: 0.5rem 0;
}

.card .person .imageTile {
  width: 7.75rem;
  height: 7.75rem;
  margin-right: 1.5rem;
  border-radius: 0.25rem 0 0 0.25rem;
  overflow: hidden;
}

.card .person .imageTile .img {
  width: 100%;
}

.card .person .inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .person .inf .deceased {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  padding: 0 0.5rem;
  height: 2rem;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  font-variant: small-caps;
  padding: 0;
  margin-right: 8.75rem;
  text-align: center;
  background-color: rgba(201, 201, 195, 0.5);
  margin-top: 1rem;
  color: #2d2d2d;
}

.card .person .inf .alive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  padding: 0 0.5rem;
  height: 2rem;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  font-variant: small-caps;
  padding: 0;
  margin-right: 8.75rem;
  background-color: rgba(48, 255, 30, 0.2);
  color: #51e245;
  margin-top: 1rem;
}

.card .person .inf .name {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1rem;
  color: #2d2d2d;
}

.card .person .inf .birthday {
  margin-top: 0.5rem;
  display: block;
  font-size: 0.75rem;
  color: #2d2d2d;
  opacity: 0.4;
}

.cardLine {
  width: 74.5rem;
  border-bottom: 0.0625rem solid #a9a9a9;
}

@media (max-width: 1324px) {
  .cardLine {
    width: 72.5rem;
  }
}

@media (max-width: 1290px) {
  .cardLine {
    width: 64rem;
  }
}

@media (max-width: 1142px) {
  .cardLine {
    width: 49rem;
  }
}

@media (max-width: 872px) {
  .cardLine {
    width: 48rem;
  }
}

@media (max-width: 810px) {
  .cardLine {
    width: 36.5rem;
  }
}

@media (max-width: 622px) {
  .cardLine {
    width: 27.5rem;
  }
}

@media (max-width: 465px) {
  .cardLine {
    width: 23rem;
  }
}

@media (max-width: 395px) {
  .cardLine {
    width: 18rem;
  }
}

.cardLine .person {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 465px) {
  .cardLine .person {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.cardLine .person .imageTile {
  width: 4rem;
  height: 4rem;
  margin-right: 2.5rem;
}

@media (max-width: 810px) {
  .cardLine .person .imageTile {
    margin-right: 1.5rem;
  }
}

@media (max-width: 465px) {
  .cardLine .person .imageTile {
    margin-right: 0;
    margin: 0.5rem auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cardLine .person .inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 465px) {
  .cardLine .person .inf {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.cardLine .person .inf .deceased {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  padding: 0 0.5rem;
  height: 2rem;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  font-variant: small-caps;
  padding: 0;
  margin-right: 8.75rem;
  text-align: center;
  margin-top: 0rem;
}

@media (max-width: 810px) {
  .cardLine .person .inf .deceased {
    margin-right: 3rem;
  }
}

@media (max-width: 622px) {
  .cardLine .person .inf .deceased {
    margin-right: 2rem;
  }
}

@media (max-width: 465px) {
  .cardLine .person .inf .deceased {
    margin-right: 0;
  }
}

.cardLine .person .inf .alive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  padding: 0 0.5rem;
  height: 2rem;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  font-variant: small-caps;
  padding: 0;
  margin-right: 8.75rem;
  margin-top: 0;
}

@media (max-width: 810px) {
  .cardLine .person .inf .alive {
    margin-right: 3rem;
  }
}

@media (max-width: 622px) {
  .cardLine .person .inf .alive {
    margin-right: 2rem;
  }
}

@media (max-width: 465px) {
  .cardLine .person .inf .alive {
    margin-right: 0;
  }
}

.cardLine .person .inf .name {
  margin-top: 0;
  width: 9rem;
  margin-right: 9.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 810px) {
  .cardLine .person .inf .name {
    margin-right: 4rem;
    width: auto;
  }
}

@media (max-width: 622px) {
  .cardLine .person .inf .name {
    margin-right: 1.5rem;
  }
}

@media (max-width: 465px) {
  .cardLine .person .inf .name {
    margin-right: 0;
  }
}

.cardLine .person .inf .birthday {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
