@import "../../../assets/styles/styles.scss";
.amount {
  display: flex;
  align-items: center;
  .show {
    display: block;
    margin-right: 1rem;
  }
  .pages {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    .pageLabel {
      display: flex;
      align-items: flex-end;
      .pageInput {
        appearance: none;
      }
      .pageInput:checked ~ .pageNumber {
        @include pageButton;
        color: $gold;
        background: $white;
        box-shadow: 0px 4px 8px $shadowDark;
        border-radius: 4px;
      }
      .pageNumber {
        @include pageButton;
      }
    }
    .buttonTab {
      @include button;
    }
  }
}
