@import "../../../assets/styles/styles.scss";
.container {
  @include content;
  max-width: 74.5rem;
  display: flex;
  justify-content: space-between;
  margin-top: 3.5rem;
  @include mobile {
    flex-direction: column-reverse;
    align-items: center;
  }
}
