@import "../../../assets/styles/styles.scss";
.error {
  min-height: calc(100vh - 10rem);
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: $error;
  padding: 1rem 0;
}
