@import "../../../assets/styles/styles.scss";

.numbers {
  display: flex;
  align-items: center;
  .pages {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    .pageLabel {
      display: flex;
      align-items: flex-end;
      .pageInput {
        appearance: none;
      }
      .pageInput:checked ~ .pageNumber {
        @include pageButton;
        color: $gold;
        background: $white;
        box-shadow: 0 0.25rem 0.5rem $shadowDark;
        border-radius: 0.25rem;
      }
      .pageNumber {
        @include pageButton;
      }
    }
    .buttonTab {
      @include button;
    }
  }
  .buttonPrev,
  .buttonNext {
    @include button;
  }
  .buttonPrev {
    background-image: url(../../../assets/icons/arrow.svg);
    margin-right: 1.5rem;
  }
  .buttonNext {
    background-image: url(../../../assets/icons/arrow.svg);
    transform: rotateY(180deg);
  }
}
