@import "../../../assets/styles/styles.scss";

.cardList {
  background-color: $bgcCard;
  min-height: calc(100vh - 10rem);
  .container {
    @include content;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tabletSmall {
      width: 95%;
    }
    .list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1.5rem 2rem;
      @include desktop {
        grid-gap: 1.5rem 1rem;
      }
      @include desktopSmall {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem 2rem;
      }
      @include tabletSmall {
        grid-gap: 1.5rem 1rem;
      }
      @include tabletSmallSecond {
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
      }
      .link {
        text-decoration: none;
      }
    }
  }
}
