@import "../../../assets/styles/styles.scss";
.card {
  padding: 2.5rem 0 10rem 0;
  background-color: $bgcCard;
  min-height: calc(100vh - 10rem);
  .container {
    @include content;
    max-width: 74.5rem;
    .link {
      text-decoration: none;
    }
    .person {
      display: flex;
      margin-top: 3rem;
      @include mobile {
        flex-direction: column;
        align-items: center;
      }
      .image {
        width: 36.5rem;
        height: 36.5rem;
        overflow: hidden;
        @include tabletLandscape {
          width: 28rem;
          height: 28rem;
        }
        @include tabletSmall {
          width: 23rem;
          height: 23rem;
        }
        @include tabletSmallSecond {
          width: 18rem;
          height: 18rem;
        }
        @include mobile {
          width: 23rem;
          height: 23rem;
          margin-bottom: 1rem;
        }
        @include mobileSmall {
          width: 18rem;
          height: 18rem;
        }
        .img {
          width: 100%;
        }
      }
    }
    .inf {
      margin-left: 2.75rem;
      max-width: 25rem;
      @include tabletLandscape {
        max-width: 18rem;
      }
      @include tabletSmall {
        max-width: 16rem;
      }
      @include tabletSmallSecond {
        margin-left: 1rem;
      }
      @include mobile {
        max-width: 16rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .deceased {
        @include status;
        margin-bottom: 2rem;
        background-color: $bgcDeceased;
      }
      .alive {
        @include status;
        background-color: $bgcAlive;
        margin-bottom: 2rem;
        color: $aliveColor;
      }
      .name {
        font-weight: 500;
        font-size: 2rem;
        color: $mainFontColor;
        margin-bottom: 1rem;
      }
      .birthday,
      .niсkName,
      .quote {
        display: block;
        font-size: 1rem;
        color: $greyFontColor;
        .inner {
          color: $mainFontColor;
          padding-left: 0.3rem;
        }
      }
      .birthday {
        margin-bottom: 1rem;
      }
      .niсkName {
        margin-bottom: 2rem;
      }
    }
  }
  .noCharacter {
    text-align: center;
    .instruction {
      display: block;
      font-size: 1rem;
      color: $mainFontColor;
    }
  }
}
