$bgcCard: #fbfbfb;

$mainFontColor: #2d2d2d;

$greyFontColor: #a9a9a9;

$bgcDeceased: rgba(201, 201, 195, 0.5);

$bgcAlive: rgba(48, 255, 30, 0.2);

$aliveColor: #51e245;

$shadow: rgba(131, 126, 126, 0.1);

$shadowDark: rgba(0, 0, 0, 0.1);

$white: #fff;

$gold: #f1b926;

$error: crimson;
