@import "./styles.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  //background-color: $bgcCard;
}

body {
  font-family: "Roboto", sans-serif;
  //max-width: 90rem;
  // margin: 0 auto 0 auto;
  color: $mainFontColor;
}
