@mixin status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  padding: 0 0.5rem;
  height: 2rem;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  font-variant: small-caps;
}

@mixin button {
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

@mixin pageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
@mixin content {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto 0 auto;
}
